<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Shulgin\AdminLogging\Api\LogRepositoryInterface" type="Shulgin\AdminLogging\Model\LogRepository"/>
	<preference for="Shulgin\AdminLogging\Api\Data\LogInterface" type="Shulgin\AdminLogging\Model\Log"/>
	<preference for="Shulgin\AdminLogging\Api\Data\LogSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

	<virtualType name="Shulgin\AdminLogging\Model\ResourceModel\Log\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">shulgin_adminlogging_log</argument>
			<argument name="resourceModel" xsi:type="string">Shulgin\AdminLogging\Model\ResourceModel\Log\Collection</argument>
		</arguments>
	</virtualType>

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="shulgin_adminlogging_log_listing_data_source" xsi:type="string">Shulgin\AdminLogging\Model\ResourceModel\Log\Grid\Collection</item>
				<!-- cms block grid -->
				<item name="shulgin_adminlogging_cms_block_history_data_source" xsi:type="string">Shulgin\AdminLogging\Model\ResourceModel\Log\Grid\Collection</item>
				<item name="shulgin_adminlogging_cms_page_history_data_source" xsi:type="string">Shulgin\AdminLogging\Model\ResourceModel\Log\Grid\Collection</item>
				<!-- END cms block grid -->
			</argument>
		</arguments>
	</type>
	
	<type name="Magento\Config\Model\Config">
    	<plugin name="system_config_save" type="Shulgin\AdminLogging\Plugin\Config\AroundSaveConfig"/>
	</type>

</config>
